body {
    background-color: rgb(26, 224, 75);
}
.menu {
    position: fixed;
    border: 1px solid black;
    background-color: rgb(58, 175, 64);
    width: 100%;
    height: 50px;
}
.menu > div.one {
    position: fixed;
    top: 2%;
    left: 0.25%;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(108, 212, 113);
    color: white;
    text-align: center;
    font-size: 125%;
    width: 100px;
    height: 25px;
}
.menu > div.two {
    position: fixed;
    top: 2%;
    left: 8.25%;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(108, 212, 113);
    color: white;
    text-align: center;
    font-size: 125%;
    width: 100px;
    height: 25px;
}
.menu > div.three {
    position: fixed;
    top: 2%;
    left: 16.25%;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(108, 212, 113);
    color: white;
    text-align: center;
    font-size: 125%;
    width: 100px;
    height: 25px;
}

.menu > div.four {
    position: fixed;
    top: 2%;
    left: 24.25%;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(108, 212, 113);
    color: white;
    text-align: center;
    font-size: 125%;
    width: 100px;
    height: 25px;
}